[submodule "dg_xch_utils"]
	path = dg_xch_utils
	url = https://github.com/GalactechsLLC/dg_xch_utils
[submodule "dg_xch_utils/"]
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca
